<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../resources/css/prisa.css">
        <title>PRISA Home</title>
    </head>
    <body>
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="layout.html" >PRISA</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active"><a class="nav-link" href="layout.html">Home<span class="sr-only">(current)</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="Upload.html">Upload</a></li>
                    <li class="nav-item"><a class="nav-link" href="About.html">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="FAQ.html">FAQ</a></li>
                    <li class="nav-item"><a class="nav-link" href="Contact.html">Contact</a></li>
                </ul>
            </div>
        </nav>
        <!--For borders -->
        <div id="left"></div><div id="right"></div>
        <div id="top"></div><div id="bottom"></div>


        <div class="container">
            <h1>How to use PRISA</h1>
            <div class="d-flex p-2 justify-content-center">
                <article>
                    <p> 
                        The Personal Re-Identification System software Application (PRISA) is a graphical user 
                        interface between the user and the Personal Re-Identification System (PRIS) software 
                        created at the Missouri State University. It has the ability to recognize the features 
                        of an individual across different media through algorithm training. Currently PRIS is
                        the most accurate identification software known.
                    </p> <br> 
                    <p>  
                        To use PRISA, </strong>go to the upload page</strong>. Find and <strong>click on the yellow button labelled "Add Media"</strong> 
                        to open a File Explorer window. <strong>Navigate through File Explorer</strong> to the destination of the stored 
                        media. <strong>Choose the image or video</strong> you wish to upload by clicking on it. To upload the image select 
                        "Open" in the bottom right of the window. You may cancel your upload any time by clicking on
                        "Cancel" in the lower right corner of the window. You have finished the uploading process.
                    </p> <br> 
                    <p>
                        Once you are done uploading your media PRIS will begin processing your image or video file. 
                        Once it is done a green box will display at the bottom of the uploads page to alert you. 
                        The results of the 3 closest matching images in the PRIS database will appear beside the 
                        uploaded image and ask, "Is this the same person? Click on image(s) to confirm." <strong>Click on 
                        all images that display the same person that appears in the originally uploaded media</strong>. This 
                        will create a profile for the person of interest (POI). The profiles in PRISA will associate 
                        data within PRIS to a specific person.
                    </p> <br> 
                </article>
                
            </div>
        </div>

        

        <!-- For Bootstrap -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>