<!DOCTYPE html>
<html lang="en">
    <head>
        <%include header.ejs %>
        <title>About</title>
    </head>
    <body>
        <%include navbar.ejs %>
        <div class="container">
            <p>The Person Re-Identification System Application (PRISA) is the practical application derived 
                from the Person Re-Identification (PRIS) software. It's purpose is to be able to upload
                videos and images to the PRIS database, allowing PRIS to identify Persons of Interest (POI).
            </p>
        </div>
        <%include Footer.ejs %>
    </body>
</html>