<!DOCTYPE html>
<html lang="en">
    <head>
        <%include Header.ejs %>
        <title>Contact</title>
    </head>
    <body>
        <%include navbar.ejs %>
        <div class="container">
            <p>
                As of July 2019, source code may be obtained by emailing da96639@live.missouristate.edu. 
            </p>
            <p>
                The continuing status of the PRIS(A) software is research conducted by Dr Razib Iqbal. He may be contacted through the Missouri State University.
            </p>
        </div>
        <%include Footer.ejs %>
    </body>
</html>