<!DOCTYPE html>
<html lang="en">
    <head>
        <%include Header.ejs %>
        <title>Contact</title>
    </head>
    <body>
        <%include navbar.ejs %>
        <div class="container">
            <ul>
                Contact for source code:
                <li>Email at: da96639@live.missouristate.edu</li>
            </ul> 
        </div>
        <%include Footer.ejs %>
    </body>
</html>