<!DOCTYPE html>
<html lang="en">
    <head>
        <%include Header.ejs %>
        <title>FAQ</title>
    </head>
    <body>
        <%include navbar.ejs %>
        <div class="container">
            <b>Frequently Asked Questions</b>
            <ul>
                <li>What does PRIS(A) stand for?</li>
                Person Re-Identification System (Application)
                <li>What is PRIS?</li>
                PRIS is an identification software created at MSU.
                <li> What version is the software?</li>
                PRISA is currently in Version 1.0
                <li>Can I use the PRIS or PRISA software?</li>
                Currently by request, source is available by email at da96639@live.missouristate.edu

            </ul>
        </div>
        <%include Footer.ejs %>
    </body>
</html>