<!DOCTYPE html>
<html lang="en">
    <head>
        <%include Header.ejs %>
        <title>FAQ</title>
    </head>
    <body>
        <%include navbar.ejs %>
        <div class="container">
            <b>Frequently Asked Questions</b>
            <ul class="faq">
                <li>What does PRIS(A) stand for?</li>
                Person Re-Identification System (Application)
                <li> What version is the software?</li>
                PRISA is currently in Version 1.0
                <li>Can I use the PRIS or PRISA software?</li>
                Currently by request, source is available by email at da96639@live.missouristate.edu
                <li>How many image files can be loaded at once?</li>
                PRISA allows 150 .jpg files to be uploaded at once.
                <li>How many video files can be loaded at once?</li>
                PRISA allows 25 .avi files to be loaded at once.
                <li>What is PRIS?</li>
                PRIS is an identification software created at MSU. It was made to identify an individual and recognize that same individual later on in a different media. In this way it may be able to track a person of interest across any given media that is fed to it. 
                <li>How does PRISA work?</li>
                For a full description of how to use the PRISA software visit the main page.
                <li>How does PRIS work?</li>
                PRIS uses a "bag of features" system of identification in order to identify different parts of the body for identification and to create data for each section. It is then weighed by importance and changeability of features and data is created associated with an given image. If PRIS does not recognize a person based on the data it creates, it makes an ID for the data and stores it in the database.
                <li>What does "bag of features" mean?</li>
                When PRIS recognizes a person in an image it then needs to build a profile based on a person's characteristics. These include:
                    <ul class="about-inner-unordered-list">
                        <li>Hair Color</li>
                        <li>Facial Structure</li>
                        <li>Skin Tone</li>
                        <li>Skeletal Frame</li>
                        <li>Width of Body Frame</li>
                        <li>Height of Body Frame</li>
                    </ul>
                Each of these features are weighted differently based on general importance and changeability.
            </ul>
        </div>
        <%include Footer.ejs %>
    </body>
</html>