<!DOCTYPE html>
<html lang="en">
<head>
    <%include Header.ejs %>
    <title>License Information</title>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
    <%include navbar.ejs %>
    <div class="container smooth-scroll list-unstyled">
        <article>
            <p>
                <strong>PRISA</strong>
            </p>  
            <p>
                ACADEMIC PUBLIC LICENSE <br>
                Copyright © 2019, PRISA Team
                <br><br>    
                This software is for academic and non-profit and non-commercial research use only.
                <br><br>
                Disclaimer:<br>
                THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS". EXPRESS OR IMPLIED WARRANTIES ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
            </p>
            <p>
                This project incorporates material from the project(s) listed below (collectively, "Third Party Code").  This Third Party Code is licensed to you under their original license terms set forth below.  We reserve all other rights not expressly granted, whether by implication, estoppel or otherwise.
            </p>    
            <p>
                <strong>PRIS</strong><br> 
                Copyright © 2019, PRIS Team.  All Rights Reserved.
                <br>
                OPEN POSE LICENCE <br>
                ACADEMIC OR NON-PROFIT ORGANIZATION NONCOMMERCIAL RESEARCH USE ONLY
                <a href="https://github.com/CMU-Perceptual-Computing-Lab/openpose/blob/master/LICENSE">https://github.com/CMU-Perceptual-Computing-Lab/openpose/blob/master/LICENSE</a>
                
            </p>    
            <p>
                <strong>CAFFE, VERSION 1.0.0</strong> , <a href="(https://github.com/BVLC/caffe/)">(https://github.com/BVLC/caffe/)</a><br>
                
                Copyright © 2014-2017 <br>
                The Regents of the University of California (Regents) <br>
                All rights reserved. <br><br>
                
                All other contributions: <br>
                Copyright © 2014-2017, the respective contributors <br>
                All rights reserved.<br>
            <p>
                LICENSE<br><br>
        
                Redistribution and use in source and binary forms, with or without
                modification, are permitted provided that the following conditions are met: 
            </p>
            <p>
                1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer. 
            </p>
            <p>
                2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution. 
            </p>
            <p>
                THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
            </p>
            <p>
                CONTRIBUTION AGREEMENT<br><br>
        
                By contributing to the BVLC/caffe repository through pull-request, comment, or otherwise, the contributor releases their content to the
                license and copyright terms herein.
            </p>
               
            <p>
                <strong>FFMPEG</strong><br>
                GNU General Public License (GPL) version 2 & <br>
                GNU Lesser General Public License (LGPL) version 2.1 <br>
                <a href="http://www.gnu.org/licenses/old-licenses/lgpl-2.1.html">http://www.gnu.org/licenses/old-licenses/lgpl-2.1.html</a>
                 
            </p>              
        </article>

    </div>
    <%include Footer.ejs %>
</body>
</html>
