<!DOCTYPE html>
<html lang="en">
    <head>
        <%include header.ejs %>
        <title>Upload Logs</title>
    </head>
    <body>
        <%include navbar.ejs %>
        <div class="container">
            <p>View upload results below: </p>
            <p></p>
        </div>
        <%include Footer.ejs %>
    </body>
</html>