<!DOCTYPE html>
<html lang="en">
    <head>
        <%include Header.ejs %>
        <title>Query</title>
    </head>
    <body>
        <%include navbar.ejs %>
        <div class="container">
            <% if(results === undefined) { %>
                <form action="submit-query" id="form-submit" method="post" enctype="multipart/form-data">
                    <!--New Upload Bar-->
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <input type="submit" class="input-group-text submit" value="Upload"/>
                        </div>
                        <div class="custom-file">
                            <input type="file" name= "input" class="custom-file-input" id="upload"
                            aria-describedby="inputGroupFileAddon01" accept=".jpg">
                            <label class="custom-file-label" for="inputGroupFile01">Choose File</label>
                        </div>
                    </div>
                </form>

            <% } else { %>
                <% for(var i=0; i < results.length; i++) { %>
                    <img src="public/<%= results[i] %>">
                <% } %>
            <% } %>

        </div>

        <%include Footer.ejs %>
        </div>
        <script>
            $(function() {
                var // Define maximum number of files.
                    max_file_number = 1,
                    // Define your form id or class or just tag.
                    $form = $('#form-submit'),
                    // Define your upload field class or id or tag.
                    $file_upload = $('#upload', $form),
                    // Define your submit class or id or tag.
                    $button = $('.submit', $form);

                $form.submit((e)=>{
                  e.preventDefault();
                  var data = new FormData($form[0]);
                  var xhr = new XMLHttpRequest();
                  xhr.open('POST','/submit-query',true);
                  xhr.send(data);
                  xhr.onload = ()=>{
                    console.log(xhr.response);
                  }
                });

                // Disable submit button on page ready.
                $button.prop('disabled', 'disabled');

                $file_upload.on('change', function () {
                    var number_of_images = $(this)[0].files.length;
                    if (number_of_images > max_file_number) {
                        alert(`You can upload maximum ${max_file_number} files.`);
                        $(this).val('');
                        $button.prop('disabled', 'disabled');
                    } else {
                        $button.prop('disabled', false);
                    }
                    $('.custom-file-label').html($(this)[0].files[0].name);
                });
            });
        </script>
    </body>
</html>
