<!DOCTYPE html>
<html lang="en">
    <head>
        <%include Header.ejs %>
        <title>Query</title>
    </head>
    <body>
        <%include navbar.ejs %>
        <div class="container">           
            
            Please select the type of file you would like to upload:
            <span class="radio"><label class="radio-inline"><input type="radio" name="optradio" value=".jpg">.jpg</label>
            </span>
            <span class="radio"><label class="radio-inline"><input type="radio" name="optradio" value=".avi">.avi</label>
            </span>
            
            <form action="submit-form" id="form-submit" method="post" enctype="multipart/form-data">
                <!--New Upload Bar-->
                <div class="input-group">
                    <div class="input-group-prepend" onclick="submitForm();">
                        <span class="input-group-text submit">Upload</span>
                    </div>
                    <div class="custom-file">
                        <input type="file" name= "input" class="custom-file-input" id="upload"
                        aria-describedby="inputGroupFileAddon01" disabled>
                        <label class="custom-file-label" for="inputGroupFile01">Choose File</label>
                    </div>
                </div>                
            </form>

            <div class="progress">
                <div id="pb" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
            </div>

        </div>
            
        <%include Footer.ejs %>
        <script>
            $(function() {
                var // Define maximum number of files.
                    max_file_number = 1,
                    // Define your form id or class or just tag.
                    $form = $('form'), 
                    // Define your upload field class or id or tag.
                    $file_upload = $('#upload', $form), 
                    // Define your submit class or id or tag.
                    $button = $('.submit', $form); 
    
                // Disable submit button on page ready.
                $button.prop('disabled', 'disabled');

                $file_upload.on('change', function () {
                    var number_of_images = $(this)[0].files.length;
                    if (number_of_images > max_file_number) {
                        alert(`You can upload maximum ${max_file_number} files.`);
                        $(this).val('');
                        $button.prop('disabled', 'disabled');
                    } else {
                        $button.prop('disabled', false);
                    }
                });
            });
            function submitForm() {
                    document.getElementById('form-submit').submit();
            }
        </script>
    </body>
</html>