<!DOCTYPE html>
<html lang="en">
    <head>
        <%include Header.ejs %>
        <title>Query</title>
    </head>
    <body>
        <%include navbar.ejs %>

        <div class="container">
            <form action="submit-query" id="form-submit" method="post" enctype="multipart/form-data">
                <!--New Upload Bar-->
                <div class="input-group">
                    <div class="input-group-prepend">
                        <input type="submit" class="input-group-text submit" value="Upload"/>
                    </div>
                    <div class="custom-file">
                        <input type="file" name= "input" class="custom-file-input" id="upload"
                        aria-describedby="inputGroupFileAddon01" accept=".jpg">
                        <label class="custom-file-label" for="inputGroupFile01">Choose File</label>
                    </div>
                </div>
            </form>
            <!--Do stuff-->
            <form method="post" enctype="multipart/form-data" action="/submit_similar">
                
                <div class="imgHolder" id="imageUploaded">
                    <p id="puploaded"></p>
                </div>

                <div class="imgHolder" id="imageHolder0">
                    <p id="psimilar_0"></p>
                    <input class="hidden" id="similar_0" name="similar_0" type="checkbox" />
                </div>
                <div class="imgHolder" id="imageHolder1">
                        <p id="psimilar_1"></p>
                        <input class="hidden" id="similar_1" name="similar_1" type="checkbox" />
                </div>
                <div class="imgHolder" id="imageHolder2">
                        <p id="psimilar_2"></p>
                        <input class="hidden" id="similar_2" name="similar_2" type="checkbox" />
                </div>
                <input type="submit" id="similar_submit" class="hidden" />
            </form>
        </div>

        <%include Footer.ejs %>
        </div>
        <script>
            $(function() {
                var // Define maximum number of files.
                    max_file_number = 1,
                    // Define your form id or class or just tag.
                    $form = $('#form-submit'),
                    // Define your upload field class or id or tag.
                    $file_upload = $('#upload', $form),
                    // Define your submit class or id or tag.
                    $button = $('.submit', $form);

                $form.submit((e)=>{
                    e.preventDefault();
                    var data = new FormData($form[0]);
                    var xhr = new XMLHttpRequest();
                    xhr.open('POST','/submit-query',true);
                    xhr.send(data);
                
                    xhr.onload = ()=>{
                        console.log(xhr.response);
                        //Checking parse
                        var PRISdata = JSON.parse(xhr.responseText);
                        console.log(PRISdata["1"].image);
                        console.log(PRISdata["1"].results[0].label);
                        console.log(PRISdata["1"].results[0].percent.toFixed(1));

                        //Start: Paul Brackett
                        var image_original = document.querySelector('#imageUploaded');

                        var image_element = document.createElement("img");
                        image_element.src = 'public\\query_data\\' + PRISdata["1"].image;

                        image_original.appendChild(image_element);

                        var p_uploaded = document.querySelector('#puploaded');
                            p_uploaded.innerHTML = "The image you uploaded";

                        if(PRISdata["1"].results[0].label !== undefined)
                        {
                            var outer_div = document.querySelector('#imageHolder0');
                            var image_element = document.createElement("img");
                            image_element.src = 'public\\profile_pics\\' + PRISdata["1"].results[0].label + ".jpg";

                            var check_box = document.querySelector('#similar_0');

                            //outer_div.innerHTML = Math.round(PRISdata["1"].results[0].percent);
                            outer_div.appendChild(image_element);
                            check_box.classList.remove('hidden');
                            check_box.setAttribute('value', PRISdata["1"].results[0].label);

                           // var original_prof = document.querySelector("#original_profile");
                            check_box.setAttribute('value', PRISdata["1"].results[0].label);
                            var p_similar = document.querySelector('#psimilar_0');
                            p_similar.innerHTML = "Percent Similar: " + Math.round(PRISdata["1"].results[0].percent);
                        }

                        if(PRISdata["1"].results[1].label !== undefined)
                        {
                            var outer_div = document.querySelector('#imageHolder1');
                            var image_element = document.createElement("img");
                            image_element.src = 'public\\profile_pics\\' + PRISdata["1"].results[1].label + ".jpg";

                            //outer_div.innerHTML = Math.round(PRISdata["1"].results[1].percent);
                            outer_div.appendChild(image_element);
                            var check_box = document.querySelector('#similar_1');
                            check_box.classList.remove("hidden");
                            check_box.setAttribute('value', PRISdata["1"].results[1].label);
                            var p_similar = document.querySelector('#psimilar_1');
                            p_similar.innerHTML = "Percent Similar: " + Math.round(PRISdata["1"].results[1].percent);

                        }

                        if(PRISdata["1"].results[2].label !== undefined)
                        {
                            var outer_div = document.querySelector('#imageHolder2');
                            var image_element = document.createElement("img");
                            image_element.src = 'public\\profile_pics\\' + PRISdata["1"].results[2].label + ".jpg";

                            //outer_div.innerHTML = Math.round(PRISdata["1"].results[2].percent);
                            outer_div.appendChild(image_element);

                            var check_box = document.querySelector('#similar_2');
                            check_box.classList.remove("hidden");
                            check_box.setAttribute('value', PRISdata["1"].results[2].label);

                            var p_similar = document.querySelector('#psimilar_2');
                            p_similar.innerHTML = "Percent Similar: " + Math.round(PRISdata["1"].results[2].percent);
                        }

                        var submit_button = document.querySelector('#similar_submit');
                        submit_button.classList.remove('hidden');
                         //Start: Paul Brackett
                  }
                  
            });

                
                    

                // Disable submit button on page ready.
                $button.prop('disabled', 'disabled');

                $file_upload.on('change', function () {
                    var number_of_images = $(this)[0].files.length;
                    if (number_of_images > max_file_number) {
                        alert(`You can upload maximum ${max_file_number} files.`);
                        $(this).val('');
                        $button.prop('disabled', 'disabled');
                    } else {
                        $button.prop('disabled', false);
                    }
                    $('.custom-file-label').html($(this)[0].files[0].name);
                });
            });
        </script>
    </body>
</html>
