<!DOCTYPE html>
<html lang="en">
    <head>
        <%include header.ejs %>
    </head>
    <body>
        <%include navbar.ejs %>
        <div class="container">
            <b>Results Page</b>
        </div>
        <%include Footer.ejs %>
        </body>
</html>