<!DOCTYPE html>
<html lang="en">
    <head>
        <%include header.ejs %>
        <script src=“main.js” async></script>
        <title>Results</title>
    </head>
    <body>
        <%include navbar.ejs %>
        <div class="container">
            <p></p>
        </div>
        <%include Footer.ejs %>
    </body>
</html>