body {background-color:teal;}
.container {
    border: .2em solid black;
    position: fixed;
    text-align: center;
    border-top: none;
    border-bottom: none;
    padding: 10px;
    height: 100%;
    background-color: lightgray;
    right: 0px;
    left: 0px;
}
.container p {padding: 10px;}
.container ul {text-align: left;}
p{
    text-align: justify;
}

li{
    font-weight: bold;
}
.p-2 {    text-align: left;}
.navbar-dark {background-color: black;}
form {
    position: relative;
    padding: .5em;
}
footer {
    background-color: black;
    color: white;
    font-size: .75em;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: .25em;
}
#pb {
    width: 0%;
    background-color: limegreen
}