body {
    background-color:orange;
}
/* The main background for the page containing all inner text and images. */
.container {
    border: .2em solid black;
    position: fixed;
    text-align: center;
    border-top: none;
    border-bottom: none;
    padding: 10px;
    /* Firefox */
    height: -moz-calc(100% - 70px);
    /* WebKit */
    height: -webkit-calc(100% - 70px);
    background-color: rgb(226, 229, 238);
    right: 0px;
    left: 0px;    
    overflow: scroll; 
    overflow: -moz-scrollbars-none;    
}
.imgHolder{
    position: relative;
}
.hidden
{
    visibility: hidden;
}
.container ul {
    text-align: left;
}
.container::-webkit-scrollbar {width: 0 !important}
/*FAQ page*/
.faq li{font-weight: bold;}
/*About page*/
.about-inner-unordered-list li{font-weight: normal;}
p{text-align: justify;}
.p-2 {text-align: left;}

/*Styling -- Navigation*/
.navbar-dark {background-color: black;}

ol{font-weight: bold;}

.main-list{
    font-weight: normal;
    padding: 0px;
}
form {
    position: relative;
    padding: .5em;
}
footer {
    background-color: black;
    color: white;
    font-size: .75em;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: .25em;
}
.progress{
    margin: 10px;
    height:35px;
    -webkit-text-stroke-color: black;
}

.progress-bar {background-color: green; color: black;}
.progress-bar-1 {background-color: rgb(245, 94, 120);}
.progress-bar-33 {background-color: orange; }
.progress-bar-67 {background-color: lightseagreen;}



